  {% include header.html %}

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-9">
        {{ content }}
      </div>
      <div class="visible-xs visible-sm">
        <p><br />
        </p>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div>
          <a class="btn btn-default" href="{{site.baseurl}}/section02-feed.xml">RSS Feed for Section 02</a>
        </div>
        {% include sidebar.html %}
      </div>
    </div>
  </div>



  {% include footer.html %}
